Experiments Project/Backup
Experiments Project/Samples
Experiments Project/jp
Experiments Project/jp_klein
Experiments Project/input.wav
Experiments Project/jp.json
Experiments Project/jp_xs.json
Experiments Project/jsp.json
Experiments Project/katharina.json
Experiments Project/katharina.mp4
Experiments Project/katharina_train.json
Experiments Project/katharina.mp4.asd
Experiments Project/voice.json
Experiments Project/asmr
Experiments Project/doc
Experiments Project/doc_trans
Experiments Project/asmr.json
Experiments Project/av.mp4
Experiments Project/doc.json
Experiments Project/doc.mp4
Experiments Project/doc_trans.json
Experiments Project/snare_setup.json
Experiments Project/JSON
Experiments Project/old/katharina.mp4
Experiments Project/old/katharina.mp4.asd
Experiments Project/poly
Experiments Project/romeo
Experiments Project/rtm
Kath_Live11_skizze Project/Backup
Kath_Live11_skizze Project/Samples
ableton_td Project/Backup
ableton_td Project/Samples
ableton_td Project/routine/all
ableton_td Project/routine/nucleis
ableton_td Project/routine/words
speech_analysis/paarsel/dfauto_english
speech_analysis/paarsel/nltk_data
speech_analysis/paarsel/poly
speech_analysis/paarsel/romeo
speech_analysis/paarsel/routine/words
speech_analysis/paarsel/routine/nucleis
speech_analysis/paarsel/syllables
speech_analysis/paarsel/words
ableton_td Project/routine/scenes
speech_analysis/paarsel/routine/poly.mp4
speech_analysis/paarsel/routine/poly.wav
speech_analysis/paarsel/S_13990TEMP_MPY_wvf_snd.mp4
speech_analysis/paarsel/a-marksyllables.TextGrid
*.mp4
*.wav
*.TextGrid
speech_analysis/paarsel/poly.wav.asd
*.asd
